{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            <article class="{{post_class}} single">
                <div class="single-media container medium{{#if og_description}} hidden-md hidden-lg hidden-xl{{/if}}">
                    {{> post-media ratio="square"}}
                </div>
                {{#if og_description}}
                    <div class="container large">
                        {{> player}}
                    </div>
                {{else}}
                    {{> post-header single=true}}
                {{/if}}
                <div class="post-content gh-content kg-canvas">
                    {{content}}
                </div>
                
                <div class="container large gh-content comment-section">
                    <h2>{{t "Member discussion"}}</h2>
                    {{comments title="" count=false}}
                </div>

                {{!-- A signup call to action is displayed here, unless viewed as a logged-in member --}}
                {{#if @site.members_enabled}}
                    {{#unless @member}}
                        {{#unless @site.comments_enabled}}
                            {{#if access}}
                                <section class="footer-cta outer">
                                    <div class="inner">
                                        {{#if @custom.email_signup_text}}<h2 class="footer-cta-title">{{@custom.email_signup_text}}</h2>{{/if}}
                                        <a class="footer-cta-button" href="#/portal" data-portal>
                                            <div class="footer-cta-input">{{t "Enter your email"}}</div>
                                            <span>{{t "Subscribe"}}</span>
                                        </a>
                                    </div>
                                </section>
                            {{/if}}
                        {{/unless}}
                    {{/unless}}
                {{/if}}

                {{!-- Hiding the author and sharing sections
                <div class="container medium">
                    {{> share}}
                    <div class="author-list">
                        <h3 class="author-list-title">
                            {{#if og_description}}
                                Hosted by:
                            {{else}}
                                Written by:
                            {{/if}}
                        </h3>
                        {{#foreach authors}}
                            {{> author}}
                        {{/foreach}}
                    </div>
                </div>
                 --}}
            </article>
        {{/post}}
    </main>
</div>